Repository FidelusAleksander/release-to-aws, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, enhancement, dependencies

Add gitignore for python
  .gitignore
Labels: none

feat: add minimal aws fastapi app
  .dockerignore
  Dockerfile
  pyproject.toml
  run.sh
  src/release_to_aws/__init__.py
  uv.lock
Labels: enhancement, dependencies

Update labeler workflow
  .github/workflows/labeler.yml
Labels: maintenance

docs: update README
  README.md
Labels: documentation

Add issues: write
  .github/workflows/labeler.yml
Labels: maintenance

add minimal dockerized fastapi app (#1)
  .dockerignore
  Dockerfile
  README.md
  pyproject.toml
  run.sh
  src/release_to_aws/__init__.py
  uv.lock
Labels: documentation, enhancement, dependencies

feat: add GitHub workflows for building and deploying Docker images to ECR
  .github/workflows/build-ecr-artifacts.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/release.yml
Labels: maintenance

Update ECR_REPOSITORY_NAME to reflect the real ecr name
  .github/workflows/build-ecr-artifacts.yml
Labels: maintenance

Add workflows to build and push python image to ECR (#2)
  .github/workflows/build-ecr-artifacts.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/release.yml
Labels: maintenance

update permissions and actions versions in workflows
  .github/workflows/build-ecr-artifacts.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/release.yml
Labels: maintenance

Use sha, not ref_name for manual deploy
  .github/workflows/manual-deploy.yml
Labels: maintenance

update permissions and actions versions in workflows (#3)
  .github/workflows/build-ecr-artifacts.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/release.yml
Labels: maintenance

Disable provenance attestation generation
  .github/workflows/build-ecr-artifacts.yml
Labels: maintenance

Disable provenance attestation generation (#4)
  .github/workflows/build-ecr-artifacts.yml
Labels: maintenance

Update root message
  src/release_to_aws/__init__.py
Labels: enhancement

Update root message (#5)
  src/release_to_aws/__init__.py
Labels: enhancement

Add dependabot configuration file
  .github/dependabot.yml
Labels: maintenance

Add dependabot configuration file (#6)
  .github/dependabot.yml
Labels: maintenance

Update __init__.py
  src/release_to_aws/__init__.py
Labels: enhancement

Update __init__.py (#7)
  src/release_to_aws/__init__.py
Labels: enhancement

Implement code changes to enhance functionality and improve performance
  .devcontainer/devcontainer.json
  pyproject.toml
  src/release_to_aws/__init__.py
  tests/test_release_to_aws.py
  uv.lock
Labels: enhancement, dependencies

Refactor code structure for improved readability and maintainability
  .devcontainer/devcontainer.json
  pyproject.toml
  uv.lock
Labels: dependencies

Add GitHub Actions workflow for PR checks and pytest configuration
  .github/workflows/pr-checks.yml
  pytest.ini
Labels: maintenance

Add initial __init__.py file for tests directory
  tests/__init__.py
Labels: none

Refactor code structure for improved readability and maintainability
  .devcontainer/devcontainer.json
  .github/workflows/pr-checks.yml
  .python-version
  Dockerfile
  pyproject.toml
  uv.lock
Labels: maintenance, dependencies

Remove GitHub Copilot chat commit message generation instructions from devcontainer configuration
  .devcontainer/devcontainer.json
Labels: none

Update README to clarify project purpose and enhance workflow descriptions
  README.md
Labels: documentation

Add conftest.py for pytest configuration and TestClient fixture
  tests/conftest.py
Labels: none

Add permissions section to PR checks workflow
  .github/workflows/pr-checks.yml
Labels: maintenance

Add container environment variable and coverage configuration
  .devcontainer/devcontainer.json
  pyproject.toml
Labels: none

chore: add devcontainer configuration and automated python tests (#8)
  .devcontainer/devcontainer.json
  .github/workflows/pr-checks.yml
  .python-version
  Dockerfile
  README.md
  pyproject.toml
  pytest.ini
  src/release_to_aws/__init__.py
  tests/__init__.py
  tests/conftest.py
  tests/test_release_to_aws.py
  uv.lock
Labels: documentation, maintenance, enhancement, dependencies

Update __init__.py
  src/release_to_aws/__init__.py
Labels: enhancement

chore: update devcontainer features and adjust PR checks workflow
  .devcontainer/devcontainer.json
  .github/workflows/pr-checks.yml
Labels: maintenance

chore: run py-cov comment even if tests fail (#10)
  .devcontainer/devcontainer.json
  .github/workflows/pr-checks.yml
Labels: maintenance

feat: add dummy endpoint for testing purposes
  src/release_to_aws/__init__.py
Labels: enhancement

feat: add dummy endpoint for testing purposes (#11)
  src/release_to_aws/__init__.py
Labels: enhancement

.github/labeler.yml:

# Configuration for GitHub Actions labeler v5
# See: https://github.com/actions/labeler

documentation:
- changed-files:
  - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

enhancement:
- changed-files:
  - any-glob-to-any-file: ['src/**/*']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['**/package.json', '**/package-lock.json', '**/yarn.lock', '**/pnpm-lock.yaml']
  - any-glob-to-any-file: ['**/requirements.txt', '**/uv.lock', '**/poetry.lock']
